.content{
    width:643px;
    margin:200px auto;
    text-align: center;
}
input[type='text']{
    width:530px;
    height:40px;
    font-size: 14px;
}
input[type='button']{
    width:100px;
    height:46px;
    background: #38f;
    border: 0;
    color: #fff;
    font-size: 15px
}
.show{
    position: absolute;
    width: 535px;
    height:100px;
    border: 1px solid #999;
    border-top: 0;
    display: none;
}